<%- include('../partials/header') -%>

<%- include('../partials/adminnavbar') -%>



<div id="branch-form">
    <form>
        <div class="box item">
        <label for="name">Name :</label>
        <input type="text" name="name" id="name" />
        </div>
        <div class="box item">
        <label for="cpde">Code :</label>
        <input type="text" name="code" id="code" />
        </div>
        <span id="err"></span>
        <div class="sub-button">
        <button type="button" onclick="handleSubmit(event)">Submit</button>
        </div>
    </form>
</div>
<div id="success" style="visibility: hidden;">
    <h3>Data Submitted Successfully</h3>
    <button onclick="handleAddAnother()">Add Another Data</button>
</div>

<script>
    const name = document.getElementById("name");
    const branchCode = document.getElementById("code");
    const branchForm = document.getElementById("branch-form");
    const success = document.getElementById("success");
    const err = document.getElementById("err");
    const handleSubmit = async (e) => {
        // e.preventDefault()

        const data = { name: name.value, branchCode: branchCode.value };
        const url = "http://localhost:3000/api/branch"
        const response = await fetch(url, {
            method: "POST", // *GET, POST, PUT, DELETE, etc.
            mode: "cors", // no-cors, *cors, same-origin
            headers: {
                "Content-Type": "application/json",
                "auth-token" : localStorage.getItem('token')
            },
            body: JSON.stringify(data),
        });
        if (response.status === 200) {
            branchForm.style.visibility = "hidden";
            success.style.visibility = 'visible'
        } else {
            err.innerHTML = "Some Error Occurred"
        }
    };
    const handleAddAnother = () => {
        name.value = ""
        branchCode.value = ""
        branchForm.style.visibility = "visible";
        success.style.visibility = 'hidden'
    }
</script>

<%- include('../partials/footer') -%>
